<header class="header">
    <div class="top-line">
        <div class="logo">
            <a href="{{ path('app_root') }}">
                <img src="{{ asset('images/header/logo.svg') }}">
            </a>
        </div>
        <a class="title" href="{{ path('app_root') }}">Секретный санта</a>
        {% if isAuthorized() %}
            <div class="authorized">
                <h5 class="username">{{ getUsername()|raw }}</h5>
                <div class="logout">
                    <a href="{{ path('app_logout') }}">Выйти</a>
                </div>
            </div>
        {% else %}
            <div class="login">
                <a href="{{ path('app_login') }}">Войти</a>
            </div>
        {% endif %}
    </div>
</header>
