{% extends 'base.html.twig' %}

{% block title %} Комната тайного санты {{ game_name }} {% endblock %}
{% block body %}
    <div class="site-container">
        {% if isShuffled %}
        {% else %}
            {% if isOwner %}
                <div class="game-owner-panel" style="">
                    <p class="text">Пригласить санту</p>
                    {{ form_start(invite_form) }}
                    {{ form_end(invite_form) }}
                </div>
                <div class="game-owner-panel justify-between">
                    <h5>Чтобы начать игру необходимо минимум 4 человека</h5>
                    {% if users|length < 4 %}
                        <p>Нехватает {{ 4 - users|length }} игроков.</p>
                    {% else %}
                        {{ form_start(start_form, {'attr' : {'class' : 'margin-0'}}) }}
                        {{ form_end(start_form) }}
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
        <div class="wishes-container">
            <div class="your-wish" style="">
                <h2>{{ user_name }}&nbsp;</h2>
                <turbo-frame id="shuffle-wish">
                    <p>Ваше пожелание:</p>
                    <p class="wish">{{ user_wish }}</p>
                    {{ form_start(shuffle_change_form, {'action' : path('app_shuffle_wish_change')}) }}
                    {{ form_end(shuffle_change_form) }}
                </turbo-frame>
            </div>
            <div class="target-wish">
                <h2>{{ target_name }}&nbsp;</h2>
                <p>Пожелание вашей цели:</p>
                <p class="wish">{{ target_wish }}</p>
            </div>
        </div>
        <h2>Тайные санты:</h2>
        <div style="display: grid; grid-template-columns: repeat(3, 1fr); width: 100%; column-gap: 30px; row-gap: 30px;">
            {% for user in users %}
                <div style="min-width: 100px; height: 100px; margin: auto; padding: 1em; border-radius: 15px; border: 1px solid red; display: flex; justify-content: center; align-items: center">
                    <p>{{ user.getUser().getUsername() }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
